{% extends 'base.html' %}
{% block title %}
Members
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-4">

<h1>Members</h1>

<a href="/admin/users/user/add/"
class="btn btn-secondary">

Add Member

</a>

</div>

<table class="table table-bordered bg-white">

<thead>

<tr>

<th>Username</th>
<th>Role</th>

</tr>

</thead>

<tbody>

{% for user in users %}

<tr>

<td>{{ user.username }}</td>

<td>

{% if user.role == 'admin' %}

<span class="badge bg-danger">
Admin
</span>

{% else %}

<span class="badge bg-primary">
Member
</span>

{% endif %}

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}