{% extends 'base.html' %}
{% block title %}
Tasks
{% endblock %}
{% block content %}

<div class="d-flex justify-content-between mb-4">

<h1>Tasks</h1>

<a href="/admin/tasks/task/add/"
class="btn btn-primary">

Create Task

</a>

</div>

<table class="table table-bordered bg-white">

<thead>

<tr>

<th>Title</th>
<th>Status</th>
<th>Project</th>
<th>Assigned To</th>

</tr>

</thead>

<tbody>

{% for task in tasks %}


<tr>

<td>{{ task.title }}</td>

<td>

{% if task.status == 'done' %}

<span class="badge bg-success">
Completed
</span>

{% elif task.status == 'progress' %}

<span class="badge bg-warning text-dark">
In Progress
</span>

{% else %}

<span class="badge bg-secondary">
Todo
</span>

{% endif %}

</td>

<td>{{ task.project.title }}</td>

<td>{{ task.assigned_to.username }}</td>

</tr>

{% empty %}

<tr>

<td colspan="5" class="text-center">
No tasks available
</td>

</tr>

{% endfor %}

</tbody>
</table>

{% endblock %}